// Place all the styles related to the questions controller here.
#question {
  padding: 0px 20px;
  font-weight: lighter;
}

#answer {
  background-color: #fffde1;
  padding: 0px 20px;
  font-weight: lighter;
}

#me {
  margin: 0px 20px;
}

#coach {
  margin: 0px 20px;
  background-color: #fffde1;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
